# [TLC Trip Record Data](https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page)

## Data Cleaning

In [25]:
%reset -f
import cudf

#### Script to go through all files

In [ ]:
# read all files in the parquets directory
parquet_files = !ls parquets
column_names = ['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
    'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
    'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
    'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
    'total_amount', 'congestion_surcharge', 'airport_fee']

In [ ]:
# Read each parquet file with columns specified above and dropna and then store cleaned_parquets in the cleaned parquets directory
def clean_parquet_files():
    for file in parquet_files:
      df = cudf.read_parquet(f'parquets/{file}', columns=column_names)
      df.dropna(inplace=True)
      df.to_parquet(f'cleaned_parquets/{file}')

In [ ]:
#clean_parquet_files()

In [ ]:
!nvidia-smi

#### Read all parquet files in a single dataframe

In [27]:
# read all files in the parquets directory
parquet_files = !ls cleaned_parquets

# create an empty dataframe
df = cudf.DataFrame()

# Read each parquet file and concatenate it to the dataframe
for file in parquet_files:
    df = cudf.concat([df, cudf.read_parquet(f'cleaned_parquets/{file}')])

# Now df contains all the parquet files in a single dataframe
df.shape

(30597266, 19)

In [28]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.0
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.0
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.0
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3367351,1,2023-10-31 23:30:25,2023-10-31 23:57:54,2.0,6.90,1.0,N,142,160,1,32.4,3.50,0.5,9.30,0.0,1.0,46.70,2.5,<NA>
3367352,1,2023-10-31 23:02:09,2023-10-31 23:09:23,1.0,2.30,1.0,N,48,143,1,10.7,3.50,0.5,3.15,0.0,1.0,18.85,2.5,<NA>
3367353,1,2023-10-31 23:14:41,2023-10-31 23:22:46,2.0,2.70,1.0,N,142,236,2,12.1,3.50,0.5,0.00,0.0,1.0,17.10,2.5,<NA>
3367354,1,2023-10-31 23:31:33,2023-11-01 00:20:19,3.0,15.70,1.0,N,142,61,1,54.1,3.50,0.5,14.80,0.0,1.0,73.90,2.5,<NA>
3367355,2,2023-10-31 23:19:43,2023-10-31 23:37:20,1.0,2.36,1.0,N,113,170,1,17.0,1.00,0.5,4.40,0.0,1.0,26.40,2.5,<NA>